/* mobile screen: 320px * 568px */

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;

  /* Text variables */
  --h1: 2.4rem;
  --h2: 2.4rem;
  --h3: 2rem;
  --h4: 2rem;
  --text: 1.6rem;
  --text-up: 1.8rem;
  --title: 1.8rem;
  --small-text: 1.4rem;

  /* Colors variables */
  --black: #000;
  --dark: #111;
  --github-black: #24292f;
  --gray: #757575;
  --silver: #c0c0c0;
  --white: #fff;
  --orange: #ffa500;
  --cream: #ffffaf;
  /* --cream: #ffffcc; */
  --blush-pink: #ffe1df;
  --pink: #ff91e8;
  --sage-green: #b2ec5d;
  --blush-purple: #dfccff;
  --d-white: #e6e6e6;
  --d-gray: #a7a7a7;
  --d-yellow: #ffd803;
  --d-green: #2cb67d;
  --d-blue: #7f5af0;
  --d-violet: #9656a1;
  --violet: #800080;
  --navy-blue: #000080;
  --ts-blue: #3178c6;
  --linkedin-blue: #0a66c2;
  --react-blue: #61dafb;

  --transparent-black1: rgba(0, 0, 0, 0.25);
  --transparent-black2: rgba(0, 0, 0, 0.16);
  --transparent-white1: rgba(255, 255, 255, 0.25);
  --transparent-white2: rgba(255, 255, 255, 0.25);
}

:root[color-theme="light"] {
  --background: var(--white);
  --frontground: var(--black);
  --middleground: var(--gray);
  --primary: var(--pink);
  --secondary: var(--sage-green);
  --surface1: var(--blush-pink);
  --surface2: var(--cream);
  --surface3: var(--blush-purple);
  --shadow1: var(--transparent-black1);
  --shadow2: var(--transparent-black2);

  --extra1: var(--violet);

  --github-color: var(--github-black);

  .light-hidden {
    display: none;
  }

  .dark-hidden {
    display: block;
  }
}

:root[color-theme="dark"] {
  --background: var(--dark);
  --frontground: var(--d-white);
  --middleground: var(--d-gray);
  --primary: var(--d-yellow);
  --secondary: var(--d-green);
  --surface1: var(--d-yellow);
  --surface2: var(--black);
  --surface3: var(--blush-purple);
  --shadow1: var(--transparent-white2);
  --shadow2: var(--transparent-white2);

  --extra1: var(--orange);

  --github-color: var(--white);

  .light-hidden {
    display: block;
  }

  .dark-hidden {
    display: none;
  }
}

:root {
  /* shadows */
  --v-shadow: 0px 4px 0px 1px var(--frontground);
  --r-shadow: 3px 4px 0px 1px var(--frontground);
  --l-shadow: -4px 5px 0px 1px var(--frontground);
  --classic-shadow: 0px 3px 0px 1px var(--shadow1);
  --sm-classic-shadow: 0px 1px 0px 1px var(--shadow1);
  --small-shadow: 0px 1px 0px 1px var(--frontground);
  --box-shadow: 0px 3px 0px 1px var(--frontground);
}

body {
  transition: background-color 0.5s ease;
  background-color: var(--background);
  color: var(--frontground);
}

h1 {
  font-size: var(--h1);
  font-weight: normal;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  font-size: var(--text-up);
}

ul {
  margin: 0;
  /* padding-inline-start: 2px; */
}

li {
  font-size: var(--text-up);
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--black);
}

.banner {
  display: grid;
  place-content: center;
  height: 54px;

  border: 2px solid var(--frontground);
  border-inline-start: 0;
  border-inline-end: 0;

  & h2 {
    text-align: center;
    font-weight: 500;
    color: black;
  }
}

.button {
  display: inline-block;
  padding: 10px 12px;

  font-size: var(--text);
  font-weight: 500;
  line-height: normal;

  border: 2px solid var(--frontground);
  border-radius: 4px;

  box-shadow: var(--v-shadow);
  cursor: pointer;

  &:hover {
    filter: contrast(150%);
    transform: scale(1.04);
  }
}

.primary-button {
  background-color: var(--primary);
}

.secondary-button {
  background-color: var(--secondary);
}

.purple-button {
  background-color: var(--surface3);
}

.mobile-button--icon-container {
  background-color: var(--frontground);
}

:root[color-theme="dark"] .mobile-button--icon-container {
  padding: 4px;
}

.mobile-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
  border-radius: 3px;
  border: 1px solid var(--frontground);

  box-shadow: var(--v-shadow);
}

.mobile-button__hamburger {
  position: relative;
  display: grid;
  place-content: center;
  gap: 6px;

  & line {
    stroke: var(--frontground);
  }

  .submenu {
    display: none;
    position: absolute;
    inset-block-start: 140%;
    inset-inline-start: 50%;
    transform: translate(-50%);

    padding: 1px 2px 6px;

    background-color: var(--surface2);
    border: 2px solid var(--frontground);

    animation: menu 0.5s ease-in-out;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 6px;

      padding: 0;
      list-style: none;
    }

    .triangle {
      position: absolute;
      inset-inline-start: 50%;
      transform: translateX(-50%);
      inset-block-start: -14px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 14px solid;
    }
  }

  &[active] .submenu {
    opacity: 1;
    display: block;
  }
}

.theme-button {
  &:hover {
    filter: contrast(140%);
  }
}

.submenu--button {
  border-radius: 0;
}

.submenu--button__github {
  background-color: var(--surface1);
}

.submenu--button__linkedin {
  background-color: var(--secondary);
}

.mobile-button--icon-container {
  display: grid;
  place-content: center;
  padding: 8px;
  border-radius: 1px;
}

.mobile-button--icon-container svg {
  padding-block-start: 0px;
}

.button__cv {
  align-self: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 6px 50px;
  font-size: var(--text-up);
  background-color: var(--secondary);

  border: 1px solid var(--frontground);
  box-shadow: var(--small-shadow);
}

.button__cv:active {
  background-color: var(--surface3);
}

.header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 5vw;

  background-color: var(--background);

  border: 2px solid var(--frontground);
  border-inline-start: 0;
  border-inline-end: 0;

  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  z-index: 10;

  .logo {
    font-size: var(--h2);
    font-weight: 500;
    line-height: normal;

    .logo--line {
      width: auto;
      height: 1px;
      background-color: var(--frontground);
      box-shadow: 5px 4px 0px 0px var(--extra1);
    }
  }

  .header--right {
    display: flex;
    gap: 16px;
  }
}

.fw-400 {
  font-weight: normal;
}

.fw-500 {
  font-weight: 500;
}

.text {
  font-size: var(--text);
  text-wrap: pretty;
}

.title {
  font-size: var(--title);
}

.desktop {
  display: none;
}

.header[active=""].hide {
  opacity: 0;

  .mobile-button {
    visibility: hidden;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (pointer: fine) {
  .header[active=""].hide:hover {
    opacity: 1;

    .mobile-button {
      visibility: visible;
    }
  }
}
