.info {
  padding: 20px 16px 0;
}

.status-container {
  display: grid;
  place-content: center;

  width: 230px;
  padding: 4px 10px;
  margin-block-end: 20px;

  background-color: var(--surface1);
  border: 2px solid var(--frontground);
  box-shadow: var(--r-shadow);
}

.status {
  color: var(--black);
  font-weight: 500;
  font-size: var(--text-up);
}

.bubble {
  position: relative;
  margin-block-end: 6px;
  font-weight: 500;
  text-align: center;
}

.bubble--text {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  background-color: var(--surface2);
  border: 2px solid var(--frontground);
  border-radius: 4px;
  /* box-shadow: 9px 6px 0px 1px var(--shadow2); */
}

.bubble--triangle {
  position: absolute;
  inset-block-end: -27px;
  inset-inline-start: 54vw;
  fill: var(--surface2);
}

.quote-container .photo-container {
  margin: 0 auto;
  width: 100px;
}

.experience {
  margin-block-start: -6px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 18px 22px;
  gap: 8px;

  background-color: var(--background);
  border: 2px solid var(--frontground);

  margin-block-end: 16px;

  z-index: 2;
}

.experience h3 {
  text-wrap: wrap;
}

.hand {
  pointer-events: none;
}

.experience .left-hand {
  position: absolute;
  inset-inline-start: -15px;
  inset-block-end: 50px;
}

.experience .right-hand {
  position: absolute;
  inset-inline-end: -10px;
  inset-block-end: 40px;
}

.hand {
  fill: var(--frontground);
}
